.benefits {
    padding-bottom: 110px;
}

.benefits__heading {
    padding-bottom: 60px;
    text-align: center;
}

.benefits__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}