.card-info {
	display: flex;
	align-items: center;

	padding: 30px;
	background: #ffffff;
	box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
}

.card-info__icon {
    margin-right: 20px;
}

.card-info__title {
	font-weight: 700;
}