.header {

}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    width: 465px;
}

.header__title {
    position: relative;
    z-index: 9;
    margin-right: -160px;

	margin-bottom: 25px;
	font-size: 54px;
	font-weight: 700;
	line-height: 1.46;
}

.header__text p {
	line-height: 1.6875;
	margin-bottom: 1em;
}

.header__img img {
    border-radius: 40px 40px 40px 0;
}

.header__form {
    margin-top: 42px;
}