.navigation-list {
	ul {
		display: flex;
	}

	li:not(:last-child) {
		margin-right: 42px;
	}

	a {
        &:hover {
	        color: $accent-color;
        }

        &.active {
	        color: $accent-color;
	        font-weight: 700;
        }
	}
}
